<?xml version="1.0" encoding="utf-8" ?>
<nlog
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="logs/nlog-internal.log">
  <!-- optional, add some variables
https://github.com/nlog/NLog/wiki/Configuration-file#variables
-->
  <variable name="myvar" value="myvalue"/>
  <!--
See https://github.com/nlog/nlog/wiki/Configuration-file
for information on customizing logging rules and outputs.
 -->
  <targets>
    <!--
add your targets here
See https://github.com/nlog/NLog/wiki/Targets for possible targets.
See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
-->
    <!--
Write events to a file with the date in the filename.
<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message}" />
-->
    <target xsi:type="File" 
            name="allfile" 
            fileName="logs/${shortdate}-all.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${callsite}|${message} ${exception:format=tostring,StackTrace}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8" />
    <target xsi:type="Console" name="c" layout="${time} ${uppercase:${level}} ${callsite} ${message}" />
    <target xsi:type="File" 
            name="webfile" fileName="logs/${shortdate}-web.log" 
            layout="${time}|${uppercase:${level}}|${callsite}|${message} ${exception:innerFormat=Message,StackTrace}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8" />
    <target xsi:type="File" name="traceFile"
            fileName="logs/${shortdate}-${level}.log"
            layout="${time}|${callsite}|${message}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8" />
    <target xsi:type="File" name="debugFile"
            fileName="logs/${shortdate}-${level}.log"
            layout="${time}|${callsite}|${message}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8"/>
    <target xsi:type="File" name="infoFile"
            fileName="logs/${shortdate}-${level}.log"
            layout="${time}|${callsite}|${message}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8" />
    <target xsi:type="File" name="warnFile"
            fileName="logs/${shortdate}-${level}.log"
            layout="${time}|${callsite}|${message}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8" />
    <target xsi:type="File" name="errorFile"
            fileName="logs/${shortdate}-${level}.log"
            layout="${time}|${message}|${exception:format=StackTrace}"
            archiveEvery="Day"
            deleteOldFileOnStartup="true"
            maxArchiveDays="14"
            maxArchiveFiles="14"
            encoding="utf-8" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <!--
Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
<logger name="*" minlevel="Debug" writeTo="f" /><logger name="*" minlevel="Trace" writeTo="allfile" />
-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <!--<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="c, f" final="true" />-->
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <!--<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="webfile" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" writeTo="webfile" /> 
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" writeTo="webfile"/>-->
    <!--<logger name="*" minlevel="Debug" writeTo="f,c" />-->
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
